<div class="widget widget-tag-cloud">
    <h3 class="widget-title">标签云</h3>
    <ul>
        <li>
            <a href="#">Django</a>
        </li>
        <li>
            <a href="#">Python</a>
        </li>
        <li>
            <a href="#">Java</a>
        </li>
        <li>
            <a href="#">笔记</a>
        </li>
        <li>
            <a href="#">文档</a>
        </li>
        <li>
            <a href="#">AngularJS</a>
        </li>
        <li>
            <a href="#">CSS</a>
        </li>
        <li>
            <a href="#">JavaScript</a>
        </li>
        <li>
            <a href="#">Snippet</a>
        </li>
        <li>
            <a href="#">jQuery</a>
        </li>
    </ul>
</div>