{% extends 'blog/basenew.html' %}

{% block main_index %}
    {% for post in posts %}
        <article class="post post-{{ post.pk }}">
            <header class="entry-header">
                <h1 class="entry-title">
                    <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
                </h1>
                <div class="entry-meta">
                    <span class="post-category"><a
                            href="/category/{{ post.category.name }}">{{ post.category.name }}</a></span>
                    <span class="post-date"><a href="#"><time class="entry-date"
                                                              datetime="{{ post.created_date }}">{{ post.created_date }}</time></a></span>
                    <span class="post-author"><a href="#">{{ post.author }}</a></span>
                    <span class="comments-link"><a href="#">{{ post.comments.count }}评论</a></span>
                    <span class="views-count"><a href="#">{{ post.views }} 阅读</a></span>
                </div>
            </header>
            <div class="entry-content clearfix">
                {#                <p>{{ post.text|linebreaksbr|truncatechars:300 }}</p>#}
                {#                <p>{{ post.text|striptags|truncatewords_html:256|linebreaksbr }}</p>#}
                <p>{{ post.excerpt }}</p>
                <div class="read-more cl-effect-14">
                    <a href="{% url 'post_detail' pk=post.pk %}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                </div>
            </div>
        </article>
    {% empty %}
        <div class="no-post">暂时还没有发布的文章！</div>
    {% endfor %}

    {#  简单分页效果#}
    {% if is_paginated %}
        <div class="pagination-simple">
            <!-- 如果当前页还有上一页，显示一个上一页的按钮 -->
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
            {% endif %}
            <!-- 显示当前页面信息 -->
            <span class="current">第 {{ page_obj.number }} 页 / 共 {{ paginator.num_pages }} 页</span>
            <!-- 如果当前页还有下一页，显示一个下一页的按钮 -->
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">下一页</a>
            {% endif %}
        </div>
    {% endif %}

{#    增强版分页  #}
{#    {% if is_paginated %}#}
{#        <div class="pagination">#}
{#            {% if first %}#}
{#                <a href="?page=1">1</a>#}
{#            {% endif %}#}
{#            {% if left %}#}
{#                {% if left_has_more %}#}
{#                    <span>...</span>#}
{#                {% endif %}#}
{#                {% for i in left %}#}
{#                    <a href="?page={{ i }}">{{ i }}</a>#}
{#                {% endfor %}#}
{#            {% endif %}#}
{#            <a href="?page={{ page_obj.number }}" style="color: red">{{ page_obj.number }}</a>#}
{#            {% if right %}#}
{#                {% for i in right %}#}
{#                    <a href="?page={{ i }}">{{ i }}</a>#}
{#                {% endfor %}#}
{#                {% if right_has_more %}#}
{#                    <span>...</span>#}
{#                {% endif %}#}
{#            {% endif %}#}
{#            {% if last %}#}
{#                <a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>#}
{#            {% endif %}#}
{#        </div>#}
{#    {% endif %}#}
{% endblock %}

{% block aside_right %}
    <!-- 最近文章 -->
    {% include 'recent_posts.html' %}
    <!-- 归档 -->
    {% include 'archives.html' %}
    <!-- 分类 -->
    {% include 'category.html' %}
    <!-- 标签云 -->
    {% include 'tag_cloud.html' %}
    <!-- RSS -->
    <div class="rss">
        <a href=""><span class="ion-social-rss-outline"></span> RSS 订阅</a>
    </div>
{% endblock %}
{% block addjs %}
    <script>var a_idx = 0;
    jQuery(document).ready(function ($) {
        $("body").click(function (e) {
            var a = new Array("富强", "民主", "文明", "和谐", "自由", "平等", "公正", "法治", "爱国", "敬业", "诚信", "友善");
            var $i = $("<span/>").text(a[a_idx]);
            a_idx = (a_idx + 1) % a.length;
            var x = e.pageX, y = e.pageY;
            $i.css({
                "z-index": 999999999999999999999999999999999999999999999999999999999999999999999,
                "top": y - 20,
                "left": x,
                "position": "absolute",
                "font-weight": "bold",
                "color": "#ff4d39"
            });
            $("body").append($i);
            $i.animate({"top": y - 180, "opacity": 0}, 1500, function () {
                $i.remove();
            });
        });
    });</script>
{% endblock %}